<div class="center">
  <h2> Upcoming Match:</h2>
</div>
<div class="upcoming-match">
    <img src="https://cdn.ssref.net/req/202404172/tlogo/fb/19c3f8c4.png" alt="First Image">
    <div class="text">
      <p>{{this.date}}</p>
    </div>
    <img [src]="'https://cdn.ssref.net/req/202404172/tlogo/fb/'+this.opponent_code+'.png'" alt="Second Image">
</div>

<div class="button">
    <button type="button" (click)="predict()" clickable>Get Prediction</button>
</div>

<div [ngClass]="getColor()">{{ clickMessage }}</div>